html {
  height: 100%;
  width: 100%;
  background-color: rgba(250,235,212,255);
}

.header{
  background-color:rgba(19,77,96,255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  border-radius: 70px;
}

.subheader{
  background-color:rgba(223,159,69,255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  border-radius: 70px;
}

.Contact{
  width: 100%;
  background-color: rgba(223,159,69,255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  float:right;
  text-align: center;
}

.body_text{
  width: 100%;
  background-color: rgba(250,235,212,255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  float:right;
  text-align: center;
}

.body_text .body_text_subheading{
  font-size: 140%;
}

.body_text ul{
  list-style-type: none;
}
.body_text p{
  text-align:center;
}

.Devtag{
  line-height: 100%;
  width: 100%;
  text-align: center;
  font-size: 150%;
  font-style: normal;
  font-family: monospace;
  color: white;
  background-color: rgba(15,79,90,255);
}
